.table-responsive{
    width: 100%;
}
td{
    text-align: center
}
.shopmore{
    /* margin-left: 85%; */
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: rgb(19, 19, 58);
    border: solid 1px rgb(19, 19, 58);
    background: transparent;
}
.Totalitems{
    font-size: 24px;
    margin-top: 20px;
}
