 <div class="container">
    <div class="row">
        <div >
                <img class="cardimage" src="{{imgurl}}">
                <div style="display: flex;align-items: center;">
                    <div style="width: 60%;">
                        <div class="itemname">{{nameurl}}</div>
                        <div class="itemprice">price: ₹{{priceurl}}</div>
                    </div>
                    <!-- <div style="display: flex;">
                        <button class="itembtn" (click)="decrement(quantityurl)">-</button>
                        <div class="quantityurl">{{quantityurl}}</div>
                        <button class="itembtn" (click)="increment(quantityurl)">+</button>
                    </div> -->
                </div>
        </div>
    </div>
 </div>


