.orderlist{
    border: solid 1px rgb(0, 0, 0);
    margin-bottom: 10px;
}
.orderstatusalign{
    border-bottom: solid 1px rgb(0, 0, 0);
    display: flex;
}
.orderId{
    width: 70%;
    margin: 10px;
}
.orderstatus{
    margin: 10px;
}
.order3rd{
    border-top: solid 1px rgb(0, 0, 0);
}
.cancelbtn{
    color: #fff;
    background-color: rgb(18, 18, 41);
    width: 60px;
    height: 30px;
    border-radius: 5px;
}
.backtohome{
    margin: 20px;
    color: #fff;
    background-color: rgb(18, 18, 41);
    width: 120px;
    height: 30px;
    border-radius: 5px;
}