<body>
<form class="formalign" [formGroup]="form" #simpleForm="ngForm" (ngSubmit)="submit(simpleForm.value)">
    <br/><br/>
    <label class="formlabel" >Name:</label>
    <input
    class="forminput"
    type = "text" 
    name="name" 
    formControlName="name" 
    placeholder="Enter your Name" ngModel>

    <span class="error-msg" *ngIf="(showErrors && form.get('name')?.errors?.['required'])"> *Name is Required</span>
    <span class="error-msg" *ngIf="(showErrors && form.hasError('minlength','name'))"> Name is too short</span>
    <br/><br/>


    <label class="formlabel">Number:</label>
    <input 
    class="forminput"
    type = "number" 
    name="phone" 
    formControlName="phone" 
    placeholder="Enter your Phone Number" ngModel>

    <span class="error-msg" *ngIf="(showErrors && form.get('phone')?.errors?.['required'])"> *Phone Number is Required</span>
    <span class="error-msg" *ngIf="(showErrors && form.hasError('pattern', 'phone'))"> Phone Number should be 10 digit</span>
    <br/><br/>
 
 
    <label class="formlabel">Pin no:</label>
    <input
    class="forminput"
    type = "number" 
    name="PinNo" 
    formControlName="PinNo" 
    placeholder="Enter your Pin no" ngModel>
    <br/><br/>


    <label class="formlabel">Address:</label>
    <textarea type = "text"
    class="forminput" 
    name="address" 
    formControlName="address" 
    placeholder="Enter your Address"
    ngModel></textarea>
    <br/><br/>

    <button class="submit-button" type="submit">Submit</button>
</form>
</body>