<div class="navbar" style="display: flex;">
<p class="shopnow">Shop Now!!!!!!</p>
<button class="viewcart" (click)="viewcart()">viewcart()</button>


</div>

<div class="filteralign">
        <select class="filterspace" (change)="sortcategory($event)">
            <option value="all" >All</option>    
            <option value="vegetable" >Vegetables</option>     
            <option value="fruit" >Fruits</option>    
        </select> 
        <br/><br/>
        <select class="filterspace" (change)="sort($event)">
            <option value="Low" >Low to High</option>
            <option value="High" >High to Low</option>
        </select>
        <br/><br/>
        <select class="filterspace" (change)="sortcolor($event)">
            <option value="all" >All</option>    
            <option value="red">Red</option>
            <option value="green">Green</option>
        </select>
</div>

<div class="itemcard" *ngFor="let data of cartlist">
    <app-addcart 
    imgurl="{{data.image}}"
    nameurl="{{data.name}}"
    priceurl="{{data.price}}"
    quantityurl="{{data.quantity}}"
    ></app-addcart>
    <button class="additem" (click)="additem(data)">add item</button>
</div>
